.pd-10{
  padding: 0 20px;
}
.w-40{
  width: 40%;
}
.m-0{
  margin: 0 auto;
}
.todo{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todo.completed span{
  text-decoration: line-through;
}
